# Token to prevent bot from creating accounts 
REGISTER_TOKEN=changeme
DOMAIN_SUFFIX=localhost

# Ceph
CEPH_DEMO_ACCESS_KEY=access
CEPH_DEMO_SECRET_KEY=secret

# PostgreSQL
PG_USER=pushnpray
PG_PASSWORD=changeme
PG_DB=pushnpray