# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=pushnpray

# Auth
REGISTER_TOKEN=change-me
JWT_SECRET=change-me

# Server
HTTP_PORT=4000
TRAEFIK_NET=traefik

# Ceph / S3
CEPH_ENDPOINT=http://10.200.0.2:8080
