project-id = 'fd2c7a27-8e47-46a0-bc01-622c12ac8c83'
update-strategy = 'recreate'

[apps]
[[apps.docker]]
name = 'backend'
image = 'ghcr.io/jdoe/project-backend:latest'
port = 8080

[[apps.docker]]
name = 'frontend'
image = 'ghcr.io/jdoe/project-frontend:latest'

[services]
[[services.postgres]]
name = 'db'
used-by = ['backend']

[[services.redis]]
name = 'task-queue'
used-by = ['backend']
