project-id = "3c41c9e1-9c37-403b-96a2-e51880583f2c"
repository-url = "https://github.com/mon/repo.git"

[apps]
[[apps.docker]]
name = "api"
image = "docker.io/library/nginx:latest"

[services]
[[services.s3]]
name = "storage"
